.footer{
    background-color: #611313;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 20px 20px 20px 20px;
}

.link{
    color: white;
    text-decoration: none;
}